

body{
     text-align: center;
 }

 
 #conversion-list{
     width: 300px;
     margin-bottom: 20px;
     border: 2px solid blue;
     border-radius: 20px;
     height: 30px;
     background-color: white;
     color: blue;
     font-weight: bold;
 }


#input{ 
     border-radius: 15px; 
     border: 2px solid white; 
     font-size: 18px; 
     line-height: 1.5; 
     outline: none; 
     font-weight: bold; 
     color: white;
     padding: 5px 10px 5px 10px; 
     background-color: blue; 
     width: 300px;
 }
 
 #output{
     font-size: 25px;
     font-weight: bold;
 }
 
 
 
 
 
 